<table class="table table-striped">
  <tr>
    <th>Job Id</th>
    <th>Role</th>
    <th *ngIf="userService.isAdmin === true">No Of Applicants</th>
    <th>Status of Application</th>
    <th>Skills</th>
    <th>Job Experience</th>
    <th>Company</th>
  </tr>
  <tr *ngFor="let job of jobs">
    <td>{{ job.id }}</td>
    <td>{{ job.role }}</td>
    <td>
      <a
        *ngIf="userService.isAdmin === true"
        [routerLink]="['/job', job.id, 'view']"
      >
        {{ job.candidates.length }}</a
      >
    </td>
    <td>
      {{ job.isActive }}
    </td>
    <td>
      <span *ngFor="let skill of job.skills; last as isLast"
        >{{ skill.name }} <span *ngIf="!isLast">, </span></span
      >
    </td>
    <td>{{ job.yearsOfExperience }}</td>
    <td>
      <a [routerLink]="['/job', job.id]"> {{ job.company }}</a>
    </td>
    <td>
      <button
        *ngIf="userService.isAdmin === true"
        class="btn btn-outline-primary btn-sm"
        [routerLink]="['/job', job.id, 'edit']"
      >
        Edit
      </button>
    </td>
    <td>
      <button
        *ngIf="userService.isAdmin === true"
        class="btn btn-outline-primary btn-sm delete-button"
        (click)="deleteJob(job.id)"
      >
        Delete
      </button>

      <div
        *ngIf="
          userService.isAdmin === false &&
          selectedJobsIdForCandidates.indexOf(job.id) === -1
        "
      >
        <button
          (click)="applyJob(job.id)"
          class="btn btn-outline-primary btn-sm"
        >
          Apply
        </button>
      </div>
    </td>
  </tr>
</table>
