<table>
  <tr>
    <th>Job Id</th>
    <th>Role</th>
    <th>No Of Openings</th>
    <th>Skills</th>
    <th>Job Experience</th>
    <th>No Of Applicants</th>
    <th>Status of Application</th>
    <th>Company</th>
  </tr>

  <tr>
    <td>
      {{ job.id }}
    </td>
    <td>
      {{ job.role }}
    </td>
    <td>
      {{ job.noOfOpenings }}
    </td>
    <td>
      {{ job.skills }}
    </td>
    <td>
      {{ job.yearsOfExperience }}
    </td>
    <td>
      {{ job.noOfApplicants }}
    </td>
    <td>
      {{ job.isActive }}
    </td>
    <td>
      {{ job.Company }}
    </td>
  </tr>
</table>
