<table class="table table-striped">
  <tr>
    <th>Job Id</th>
    <th>Role</th>
    <th>Skills</th>
    <th>Job Experience</th>
    <th>Status of Application</th>
    <th>Job location</th>
    <th>Company</th>
  </tr>

  <tr>
    <td>
      {{ job.id }}
    </td>
    <td>
      {{ job.role }}
    </td>
    <td *ngFor="let skill of job.skills">
      {{ skill.name }}
    </td>
    <td>
      {{ job.yearsOfExperience }}
    </td>
    <td>
      {{ job.isActive }}
    </td>
    <td>
      {{ job.jobLocation }}
    </td>
    <td>
      {{ job.company }}
    </td>
  </tr>
</table>
