<app-welcome></app-welcome>
<!-- <nav class="navbar navbar-expand navbar-light bg-light">
  <ul class="nav nav-pills">
    <li>
      <a class="nav-link" routerLinkActive="active" routerLink="job"
        >Job List</a
      >
    </li>
    <li>
      <a class="nav-link" routerLinkActive="active" routerLink="jobform"
        >Create Job</a
      >
    </li>
  </ul>
  <app-auth-button></app-auth-button>
  <app-user-profile></app-user-profile>
</nav>

<div>
  <router-outlet></router-outlet>
</div> -->
