<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <nav class="navbar navbar-expand navbar-light bg-light">
      <ul class="nav nav-pills">
        <li>
          <a class="btn btn-primary" routerLinkActive="active" routerLink="job"
            >Job List</a
          >
        </li>
        <li>
          <a
            class="btn btn-primary"
            routerLinkActive="active"
            routerLink="jobform"
            >Create Job</a
          >
        </li>
        <li>
          <a
            class="btn btn-primary"
            routerLinkActive="active"
            routerLink="skill"
            >Skills</a
          >
        </li>
      </ul>
      <app-auth-button class="btn btn-primary"></app-auth-button>
      <app-user-profile></app-user-profile>
    </nav>
  </div>
</nav>

<div class="jumbotron">
  <h1>Welcome to Bootcamp Job Portal</h1>
</div>
<div *ngIf="userService.isAdmin === false">
  <a class="btn btn-primary" routerLink="/candidate">My Profile</a>

  <a class="btn btn-primary" routerLink="/candidate/edit">Edit my profile</a>
  <a class="btn btn-primary" routerLink="profile">Create profile</a>
</div>
<!-- <div><img src="./assets/images/beach.jpg" class="bg" /></div> -->

<div><router-outlet></router-outlet></div>
