<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid nav-bar-color">
      <app-user-profile style="color: mediumblue"></app-user-profile>

      <app-auth-button></app-auth-button>
    </div>
  </nav>

  <div class="container-fluid" style="height: 100vh">
    <h1 style="color: darkcyan">Welcome to Bootcamp Job Portal</h1>

    <nav
      class="navbar navbar-expand-lg navbar-light bg-light"
      *ngIf="userService.isAdmin === true"
    >
      <div class="container-fluid nav-bar-color">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 navigation-bar">
          <li class="nav-item">
            <a
              class="nav-link"
              style="color: mediumblue"
              routerLinkActive="active"
              routerLink="job"
              *ngIf="userService.isAdmin === true"
              >Job List</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              style="color: mediumblue"
              routerLinkActive="active"
              routerLink="jobform"
              *ngIf="userService.isAdmin === true"
              >Create Job</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <nav
      class="navbar navbar-expand-lg navbar-light bg-light"
      *ngIf="userService.isAdmin === false && userService.isAuthenticated"
    >
      <div class="container-fluid nav-bar-color">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 navigation-bar">
          <li class="nav-item">
            <a class="nav-link" routerLink="/candidate">My Profile</a>
          </li>
          <li class="nav-item">
            <a
              *ngIf="candidateProfile"
              class="nav-link"
              routerLink="/candidate/edit"
              >Edit my profile</a
            >
          </li>
          <li class="nav-item">
            <a *ngIf="!candidateProfile" class="nav-link" routerLink="profile"
              >Create profile</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="job"
              >Job List</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div><router-outlet></router-outlet></div>
  </div>
</div>
