<div class="card-body">
  <form (ngSubmit)="saveJob()" [formGroup]="jobForm">
    <label class="col-md-2 col-form -label" for="roleId">Role</label>
    <div class="col=md-8">
      <input
        class="form-control"
        id="roleId"
        type="text"
        placeholder="Role"
        formControlName="role"
      />
    </div>
    <div>
      <span *ngIf="jobForm.get('role')?.errors?.required"
        >Please enter valid role</span
      >
    </div>

    <div class="form-group row mb-2">
      <label class="col-md-2 col-form -label" for="skillId"
        >Please select a skill</label
      >
      <div class="col=md-8" *ngFor="let skill of skills">
        <label [for]="skill.id">{{ skill.name }}</label>
        <input
          type="checkbox"
          (change)="onCheckboxSelected($event)"
          [id]="skill.id"
          [value]="skill.id"
        />
      </div>
      <span
        *ngIf="
          jobForm.get('skills')?.errors?.required &&
          !jobForm.get('skills')?.pristine
        "
        >Choose atleast one skill</span
      >
    </div>

    <div class="form-group row mb-2">
      <label class="col-md-2 col-form -label" for="experienceId"
        >Years of Experience</label
      >
      <div class="col=md-8">
        <input
          class="form-control"
          id="experienceId"
          type="text"
          formControlName="yearsOfExperience"
        />
      </div>
      <span *ngIf="jobForm.get('yearsOfExperience')?.errors?.required"
        >Please enter valid experience</span
      >
    </div>

    <div class="form-group row mb-2">
      <label class="col-md-2 col-form -label" for="location"
        >Job location</label
      >
      <div class="col=md-8">
        <input
          class="form-control"
          id="location"
          type="text"
          formControlName="location"
        />
      </div>
      <span *ngIf="jobForm.get('location')?.errors?.required"
        >Please enter valid loocation</span
      >
    </div>

    <div class="form-group row mb-2">
      <label class="col-md-2 col-form -label" for="applicantsId"
        >No of Applicants</label
      >
      <div class="col=md-8">
        <input
          class="form-control"
          id="applicantsId"
          type="text"
          formControlName="noOfApplicants"
        />
      </div>
      <div>
        <span *ngIf="jobForm.get('noOfApplicants')?.errors?.required"
          >Please enter valid number of applicants</span
        >
      </div>
    </div>
    <div class="form-group row mb-2">
      <label class="col-md-2 col-form -label" for="statusId"
        >Status of Application</label
      >
      <div class="col=md-8">
        <input
          class="form-control"
          id="statusId"
          type="text"
          formControlName="applicationStatus"
        />
      </div>
      <div>
        <span *ngIf="jobForm.get('applicationStatus')?.errors?.required"
          >Please enter valid application status</span
        >
      </div>
    </div>

    <div class="form-group row mb-2">
      <label class="col-md-2 col-form -label" for="companyId">Company</label>
      <div class="col=md-8">
        <input
          class="form-control"
          id="companyId"
          type="text"
          formControlName="company"
        />
      </div>
      <span *ngIf="jobForm.get('company')?.errors?.required"
        >Please enter valid company name</span
      >
    </div>

    <button type="submit" [disabled]="!jobForm.valid">Save</button>
  </form>
</div>
