/* You can add global styles to this file, and also import other style files */
/* .bg {
  background: url(assets/images/job-search.jpg) no-repeat center center fixed;

  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  opacity: 1;
} */
